---
import BaseLayout from "@/layouts/BaseLayout.astro";
const title = "Contact";
---

<BaseLayout title={title}>
  <main>
    <header class="page-header">
      <h1>{title}</h1>
    </header>
    <p>
      Have any questions or comments? Drop me a message to get in touch. <br />
      I'd love to chat with you. Don't be a stranger :)
    </p>

    <form
      name="contact"
      action="/success"
      method="POST"
      data-netlify-recaptcha="true"
      data-netlify="true"
    >
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="Name" id="name" required />
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="Email" id="email" required />
      <label for="message">Message</label>
      <textarea name="message" placeholder="Message" id="message" required></textarea>
      <div data-netlify-recaptcha="true"></div>
      <input type="submit" value="Send" />
    </form>
  </main>
</BaseLayout>

<style>
  label {
    display: block;
    font-size: 85%;
  }

  input[type="text"],
  input[type="email"] {
    border: 1px solid var(--colour-silver-chalice);
    height: 2rem;
    margin-block-end: 1em;
    max-width: 18em;
    padding: 0.5em;
    transition: border 0.3s;
    width: 100%;

    &:focus {
      border: 1px solid var(--colour-english-walnut);
    }
  }

  textarea {
    border: 1px solid var(--colour-silver-chalice);
    display: block;
    margin-block-end: 1em;
    max-width: 26em;
    min-height: 5em;
    padding: 0.5em;
    transition: border 0.3s;
    width: 100%;

    &:hover {
      border: 1px solid var(--colour-silver-chalice);
    }

    &:focus {
      border: 1px solid var(--colour-english-walnut);
    }
  }

  input[type="submit"] {
    color: var(--colour-white);
    background-color: var(--colour-apple);
    padding: 0.25em 0.5em;
    transition: background-color 0.15s linear;
    border: 0;
    cursor: pointer;

    &:hover {
      background-color: hsl(from var(--colour-apple) h s calc(l - 20));
    }
  }

  .message-wrapper {
    margin-block-end: 1em;
  }

  .g-recaptcha {
    margin-block-end: 1em;
  }

  .success {
    display: inline-block;
    margin-inline-end: 0.5em;
    vertical-align: middle;
  }
</style>
